@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

body {
    height: 100%;
    background: linear-gradient(to bottom right, #1abc9c, #2ecc71);
}

header, main , footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95em;
}

header h2 {
    font-weight: bold;
    border-bottom: 2px solid #1abc9c;
    display: inline-block;
}

main h3 {
    font-weight: bold;
    border-bottom: 1px solid #1abc9c;
}

h1, h2, h4, small {
    color: #2c3e50;
}

.cabecalho {
    background: #ecf0f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteudo-principal {
    background: #ecf0f1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a {
    text-decoration: none;
}

main a .card:hover{
    box-shadow: 0 3px 5px #000;
    transition: box-shadow 0.3s;
}

main a .card {
    border: 1px solid rgba(127, 140, 141, 0.3);
}

.card-title {
    border-bottom: 1px solid #1abc9c;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    
}