body {
    height: 100%;
    background: linear-gradient(to bottom right, #1abc9c, #2ecc71);
    font-family: 'Montserrat', sans-serif;
}

.banner {
    background: url(../imagens/fundo7.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.imagem {
    height: 150px;
    border-radius: 120px;
    border: 2px solid white;
}

h1 {
    color: #ecf0f1;
}

h2 {
    font-weight: lighter;
    letter-spacing: 0.3em;
    color: #1abc9c;
}

h3 {
    letter-spacing: 0.1em;
}

a.nav-link {
    color: #ecf0f1;
    font-size: 1.2em;
    display: inline;
    font-weight: normal;
    padding-left: 0px;
}

a .progress {
    height: 0.2em;
    width: 23%;
    margin-top: 0.3em;
    background-color: #5cb85c
}

.nav-link i {
    font-weight: 520;
}

a.nav-link:hover {
    color: white;
}

a.nav-link:hover .progress {
    width: 100%;
    transition: width 0.3s;
}

.cor-personalizada{
    background: #ecf0f1;
}

.meio {
    height: 100%;
    width: 0.12em;
    background: black;
    margin: 0 auto;
}

main section ul .list-group-item {
    background: #ecf0f1;
    border: none;
    padding-left: 0;
}

footer .container {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    height: 12em;
}

footer .container .btn {
    text-transform: uppercase;
    font-weight: bold;
    height: 3em;
    width: 15em;
    letter-spacing: 0.5rem;
    padding-top: 9px;
}

footer .container .btn:hover {
	transition: margin-top 0.6s;
	margin-top: 5px;
}

#atividades small {
    padding-bottom: 1.2em;
}

.alinhamento-texto {
    text-align: right;
}

small {
    display: block;
}

main .col-lg-2 {
    width: 5%;
}

span {
    padding-right: 0.6em;
}

main h6 {
    font-weight: bold;
    padding-top: 0.5em;
    font-size: 0.8em;
}

main h4 {
    font-size: 1.2em;
    font-weight: bold;
}

main p {
    float: right;
}

h4, p {
    display: inline;
}

main ul .list-item {
    padding-top: 1.2em;
}
