body {
    height: 100%;
    background: linear-gradient(90deg,#93bf85 50%, #469536) no-repeat;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, small {
    color: #2c3e50;
}

.cabecalho {
    background: #d3d3d3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.conteudo-principal {
    background: #d3d3d3;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main a {
    text-decoration: none;
}

main a .card:hover{
    box-shadow: 0 3px 5px #000;
    transition: box-shadow 0.3s;
}

main a .card {
    border: 0.2px solid gray;
}

.borda-titulos {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}